<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.coderdy.myapp.member.dao.mapper.MemberMapper">
	<insert id="insertMember">
	<![CDATA[
		INSERT INTO 
			member (userid, password, email, name, phone) 
		VALUES 
			(#{userid}, #{password}, #{email}, #{name}, #{phone})
	]]>
	</insert>
	<!-- 아이디 확인 -->
	<select id="idCheck"
		resultType="com.coderdy.myapp.member.model.MemberVO">
	<![CDATA[
		SELECT userid FROM member
		WHERE userid = #{userid}
	]]>
	</select>

	<select id="selectMember" parameterType="string"
		resultType="com.coderdy.myapp.member.model.MemberVO">
	<![CDATA[
		SELECT 
			userid,
			password,
			email,
			name,
			phone 
		FROM 
			member 
		WHERE userid=#{userid}
	]]>
	</select>
	
	<select id="selectAllMembers"
		resultType="com.coderdy.myapp.member.model.MemberVO">
	<![CDATA[
		SELECT 
			userid, password, email, name, phone
		FROM
			member
	]]>
	</select>

	<insert id="insertSnsMember">
	<![CDATA[
		INSERT INTO 
			sns_info (sns_id, sns_type, sns_name, sns_email)
		VALUES 
			(#{sns_id}, #{sns_type}, #{sns_name}, #{sns_email})
	]]>
	</insert>

	<insert id = "updateSnsMember">
	<![CDATA[
		UPDATE 
			sns_info
		SET
			sns_phone=#{sns_phone}, sns_gender=#{sns_gender}
		WHERE sns_id=#{sns_id}
	]]>
	</insert>
</mapper>